.character__title {
    font-size: 1.5rem;
}

.character__wrapper {
    display: flex;
}

.name__wrapper {
    display: flex;
    flex-direction: column;
}

.character__attr {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--green);
    border: 2px solid var(--green);
    border-radius: 7px;
}

#level, #background, #player, #race, #alignment, #experiencePoints {
    background-color: var(--green);
    padding: 3px;
    font-size: 1.2rem;
    border-bottom: 2px solid black;
}

.attribute__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 700;
}