main {
    margin-bottom: 3rem;
}

.character__title {
    font-size: 1.5rem;
}

.character__wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.name__wrapper {
    display: grid;
    grid-template-columns: 100%;
}

#characterName {
    padding: 10px;
    width: 100%;
    background-color: var(--green);
    border: 2px solid var(--background);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: 2px solid var(--green);
    font-size: 1.2rem;
}

.character__name {
    color: var(--green);
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    display: block;
    justify-self: flex-end;
    margin-right: 10px;
}

.title__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.character__attr {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--green);
    border: 2px solid var(--green);
    border-radius: 7px;
}

#level, #background, #player, #race, #alignment, #experiencePoints {
    background-color: var(--green);
    padding: 3px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid black;
}

.attribute__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 700;
}

/* main form style */

.main__form__area {
    display: grid;
    grid-template-columns: 15% 20% 20% 20%;
    justify-content: center;
    margin-top: 4rem;
    gap: 2rem;
}

.stat__container {
    background-color: var(--green);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem 1rem;
}

.str__wrapper {
    background-color: var(--background);
    width: 80%;
}

#strInput, #dexInput, #conInput, #intInput, #wisInput, #chaInput {
    background-color: var(--background);
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: var(--green);
    border: 2px solid var(--background);
    padding: 0.5rem 0;
}

.stat__title {
    color: var(--green);
    margin-top: 0.3rem;
}

#strCircle, #dexCircle, #conCircle, #intCircle, #wisCircle, #chaCircle {
    width: 30%;
    font-size: 2rem;
    border-radius: 50%;
    border: 2px solid var(--green);
    color: var(--green);
    background-color: var(--background);
    position: relative;
    top: 1.2rem;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* second column style - 2 bars */

.second__column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.inspiration__wrapper, .prof__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--green);
    border-radius: 10px;
}

.inspiration__square, .prof__circle {
    background-color: var(--green);
    width: 20%;
}

#inspiration, #prof {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--green);
    border: 4px solid var(--background);
    outline: 2px solid var(--green);
    font-size: 1.2rem;
    text-align: center;
}

.inspiration__container, .prof__container {
    width: 100%;
    padding: 0.2rem;
    color: var(--background);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
}

/* second column style - saving throws style */

.saving__throws, .skills__container {
    background-color: var(--green);
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
}

.option {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-top: 5px;
}

.radio__custom {
    padding: 8px;
    width: 8px;
    height: 8px;
    background-color: var(--background);
    border-radius: 50%;
}

.st__input {
    width: 15%;
    background-color: var(--green);
    border: none;
    border-bottom: 2px solid var(--background);
    font-size: 1.2rem;
    text-align: center;
}

.st__title {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}

/* skills container style */

