.version {
    color: var(--green);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    text-align: right;
}

.sub__heading {
    color: rgba(245, 245, 245, 0.756);
    font-size: 1.2em;
    font-family: var(--fancy);
}

.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav__link {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--background);
    font-weight: 600;
}

.spacer {
    aspect-ratio: 1300/300;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.layer1 {
    background-image: url('../assets/wave-haikei3.svg');
}

.character__attributes {
    max-width: 17rem;
    border: 2px solid red;
    padding: 2rem;
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.attribute__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
    position: relative;
}

.frame {
    width: 20rem;
}

.desc {
    position: absolute;
    opacity: 0;
    font-family: var(--fancy);
    color: black;
    font-weight: 800;
    text-decoration: underline;
    bottom: 45%;
    font-size: 1.1em;
}

.hover__desc {
    opacity: 1;
    animation: 0.3s riseUp linear;
}

.frame__wrapper {
    display: flex;
    justify-content: center;
    gap: 10%;
    color: var(--light)
}

.frame__wrapper:hover {
    cursor: pointer;
}

.heading__area {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 35%;
}

.frame__hover {
    scale: 1.05;
    opacity: 1;
}

.main__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main__title > h1 {
    font-size: 8.5em;
}

.dragon__image {
    width: 30rem;
    filter: invert(93%) sepia(6%) saturate(1474%) hue-rotate(3deg) brightness(91%) contrast(87%);
    justify-self: center;
}

.frame__image {
    position: absolute;
    width: 60%;
    bottom: 3rem;
    right: 6rem;
}

.male__character {
    right: 5rem;
    bottom: 2rem;
}

.mushroom__character {
    right: 4rem;
}

.frame__paper {
    position: absolute;
    z-index: -2;
    width: 22rem;
    height: 22rem;
    bottom: 1rem;
}

.frame__image__hover {
    opacity: 0.2;
}

.desc__link {
    color: var(--light);
}

@keyframes riseUp {
    0% {
        translate: 0 10px;
    }
    100% {
        translate: 0 0;
    }
}

/*fix this media query -- get rid of the frames -- */
@media (min-width: 400px) {
    
    .sub__heading {
        font-size: 0.9em;
    }

    .main__title {
        margin-top: 2rem;
    }
    
    .nav__list {
        display: none;
    }
    
    .frame__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .frame {
        margin-top: 3rem;
        width: 20rem;
    }
    
    .frame__wrapper {
        flex-direction: column;
    }
    
    .heading__area {
        grid-template-columns: 80%;
    }
    
    .main__title > h1 {
        font-size: 6.5em;
    }
    
    .dragon__image {
        display: none;
    }

    .frame__image {
        position: absolute;
        width: 11rem;
        bottom: 12%;
        right: 30svw;
    }
    
    .male__character {
        right: 30svw;
        bottom: 12%;
    }
    
    .mushroom__character {
        bottom: 12%;
    }
    
    .frame__paper {
        width: 18rem;
        height: 18rem;
        bottom: 1rem;
    }

    .desc {
        font-size: 0.9em;
        bottom: 42%;
    }
}

@media (min-width: 500px) {
    .frame__image {
        width: 11rem;
        bottom: 12%;
        right: 33vw;
    }
    
    .male__character {
        right: 32svw;
        bottom: 12%;
    }
    
    .mushroom__character {
        bottom: 12%;
        right: 32vw;
    }
}

@media (min-width: 600px) {
    .frame__image {
        width: 11rem;
        bottom: 12%;
        right: 38vw;
    }
    
    .male__character {
        right: 37svw;
        bottom: 12%;
    }
    
    .mushroom__character {
        bottom: 12%;
        right: 37vw;
    }
}

@media (min-width: 700px) {
    .sub__heading {
        font-size: 1em;
    }

    .nav__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .frame {
        margin-top: 4rem;
        width: 21rem;
    }
    
    .frame__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .main__title > h1 {
        font-size: 8.5em;
    }

    .frame__image {
        right: 10svw;
    }
    
    .male__character {
        right: 10svw;
    }
    
    .mushroom__character {
        right: 10svw;
    }
    
}

@media (min-width: 850px) {
    
    .mushroom__character {
        bottom: 12%;
        right: 8svw;
    }
}

@media (min-width: 1000px) {
    .frame__image {
        right: 8svw;
    }
    
    .male__character {
        right: 8svw;
    }
    
    .mushroom__character {
        right: 7svw;
    }

    .desc {
        bottom: 40%;
    }
}

@media (min-width: 1250px) {
    .frame__image {
        right: 7svw;
    }
    
    .male__character {
        right: 6svw;
    }
    
    .mushroom__character {
        right: 5svw;
    }

    .desc {
        bottom: 42%;
    }
}

@media (min-width: 1300px) {

    .sub__heading {
        font-size: 1em;
    }

    .nav__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .heading__area {
        margin-top: 3rem;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 35% 35%;
    }

    .frame {
        margin-top: 2.5rem;
        width: 21rem;
    }
    
    .frame__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .main__title > h1 {
        font-size: 10.5em;
        justify-self: right;
    }

    .dragon__image {
        display: block;
        width: 35rem;
        justify-self: left;
    }

    
}

@media (min-width: 1450px) {
    .frame__image {
        right: 5.5svw;
    }
    
    .male__character {
        right: 5svw;
    }
    
    .mushroom__character {
        right: 5svw;
    }
}

@media (min-width: 1650px) {

    .sub__heading {
        font-size: 1.2em;
    }

    .frame {
        width: 25rem;
    }

    .frame__paper {
        width: 22rem;
        height: 22rem;
    }

    .frame__image {
        width: 57%;
        right: 5.5svw;
        bottom: 13%;
    }
    
    .male__character {
        right: 5svw;
        bottom: 10%;
    }
    
    .mushroom__character {
        right: 5svw;
        bottom: 11%;
    }

    .desc {
        font-size: 1em;
    }
}

@media (min-width: 1850px) {
    .frame__image {
        right: 4.5svw;
    }
    
    .male__character {
        right: 4.6svw;
    }
    
    .mushroom__character {
        right: 4svw;
    }

    .desc {
        font-size: 1.1em;
    }
}

@media (min-width: 2000px) {

    .frame {
        width: 31rem;
    }

    .main__title {
        margin-left: 7rem;
    }

    .main__title > h1 {
        font-size: 12.5em;
        justify-self: right;
    }

    .dragon__image {
        width: 40rem;
    }

    .frame__paper {
        width: 28rem;
        height: 28rem;
    }

    .frame__image {
        right: 6svw;
    }
    
    .male__character {
        right: 5svw;
    }
    
    .mushroom__character {
        right: 4.5svw;
    }
}

@media (min-width: 2250px) {
    .frame__image {
        right: 4.5svw;
    }
    
    .male__character {
        right: 4svw;
    }
    
    .mushroom__character {
        right: 4svw;
    }

    .desc {
        font-size: 1.2em;
        bottom: 43%;
    }
}